{
  "openapi": "3.1.0",
  "info": {
    "title": "Slothbox API",
    "version": "0.1.0",
    "description": "REST API behind Slothbox. Use it to manage organizations, members, invites and AWS connections. Most endpoints accept either a Cognito ID token or an API key (`sk_…`) in the `Authorization` header.\n\n**Rate limiting.** Requests are limited per caller — per API key, per user, and per organization on expensive routes. When a limit is exceeded the API responds `429 Too Many Requests` with a `Retry-After` header (whole seconds); wait that long before retrying. Expensive routes (AWS connection checks, environment launches, billing, invite emails, GitHub calls) carry tighter limits than the default. Full table: https://docs.slothbox.dev/rate-limiting (source: docs/rate-limiting.md)."
  },
  "servers": [
    {
      "url": "https://api.slothbox.dev",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Health"
    },
    {
      "name": "Me"
    },
    {
      "name": "Organizations"
    },
    {
      "name": "Members"
    },
    {
      "name": "Invites"
    },
    {
      "name": "Billing"
    },
    {
      "name": "AWS connections"
    },
    {
      "name": "Secrets"
    },
    {
      "name": "Environments"
    },
    {
      "name": "Runtime bundles"
    },
    {
      "name": "Webhooks",
      "description": "Owner-managed outbound webhooks. Slothbox POSTs a signed event to your\nHTTPS endpoint the moment something happens in the org.\n\n**Verifying deliveries.** Each POST carries three headers — `webhook-id`\n(stable across retries; use it as your idempotency key), `webhook-timestamp`\n(unix seconds), and `webhook-signature` (`v1,<base64 HMAC-SHA256>`; a\nspace-delimited list during a secret rotation — a match against any token\nis valid). The signature is computed over `{webhook-id}.{webhook-timestamp}.{raw body}`\nusing your `whsec_…` secret fed verbatim (the verifier base64-decodes it after\nstripping the prefix). Verify the RAW body bytes (not re-serialized JSON), use a\nconstant-time compare, and reject timestamps more than 5 minutes (300s) old.\n\nVerify with the `svix` libraries (`new Webhook(secret).verify(rawBody, headers)`)\nor a few lines of HMAC. Full guide + copy-paste Node receivers:\nhttps://docs.slothbox.dev/webhooks (source: docs/webhooks-consumers.md)."
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Send an API key (`sk_…`) as the raw value of the `Authorization` header. An optional `Bearer ` prefix is accepted — the authorizer strips it (case-insensitively) before validating, so `Authorization: sk_…` and `Authorization: Bearer sk_…` both work. Two kinds exist: per-seat **personal** keys for light scripting, and org **service-account** keys for headless/unattended automation (gated behind the API plan). Cognito ID tokens use the same header, but those are only useful for the web app."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid credentials. Send an API key (`sk_…`) or Cognito ID token in the `Authorization` header (an optional `Bearer ` prefix is accepted).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded. Limits apply per caller — per API key, per user, and per organization on expensive routes. Wait the number of seconds given in the `Retry-After` header before retrying.",
        "headers": {
          "Retry-After": {
            "description": "How long to wait before retrying, in whole seconds.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "example": "a1b2c3d4-…"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "authMethod": {
            "type": "string",
            "enum": [
              "jwt",
              "apiKey"
            ],
            "description": "How the caller authenticated. `apiKey` covers both personal and service-account keys."
          },
          "mfaEnabled": {
            "type": "boolean",
            "description": "Whether the user has a TOTP authenticator enrolled."
          },
          "hasSeenGuide": {
            "type": "boolean",
            "description": "Whether the user has seen the first-visit web-app guide."
          }
        },
        "required": [
          "userId",
          "email",
          "authMethod",
          "mfaEnabled",
          "hasSeenGuide"
        ]
      },
      "Role": {
        "type": "string",
        "enum": [
          "owner",
          "member"
        ]
      },
      "Permission": {
        "type": "string",
        "enum": [
          "templates:write",
          "members:write",
          "settings:write",
          "environments:delete",
          "audit:read"
        ]
      },
      "OrgMembershipSummary": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/Role"
          },
          "requireMfa": {
            "type": "boolean"
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            },
            "description": "The caller's granted capabilities in this org (empty for owners)."
          }
        },
        "required": [
          "orgId",
          "name",
          "role",
          "requireMfa",
          "permissions"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "issues": {}
            },
            "required": [
              "message"
            ]
          }
        },
        "required": [
          "error"
        ],
        "description": "Standard error envelope returned for any non-2xx response."
      },
      "GithubLink": {
        "type": "object",
        "properties": {
          "login": {
            "type": "string"
          },
          "githubUserId": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "linkedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          }
        },
        "required": [
          "login",
          "githubUserId",
          "scopes",
          "linkedAt"
        ]
      },
      "LibraryConnection": {
        "type": "object",
        "properties": {
          "connectionId": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "enum": [
              "github"
            ]
          },
          "providerAccountId": {
            "type": "string"
          },
          "display": {
            "type": "object",
            "properties": {
              "login": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "avatarUrl": {
                "type": "string",
                "format": "uri"
              },
              "email": {
                "type": "string",
                "format": "email"
              }
            },
            "required": [
              "login"
            ]
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "linkedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          }
        },
        "required": [
          "connectionId",
          "provider",
          "providerAccountId",
          "display",
          "scopes",
          "linkedAt",
          "updatedAt"
        ]
      },
      "Organization": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string",
            "example": "org_01HXYZ…"
          },
          "name": {
            "type": "string"
          },
          "ownerId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "requireMfa": {
            "type": "boolean",
            "description": "When true, members must enrol MFA to use the org in the web app."
          }
        },
        "required": [
          "orgId",
          "name",
          "ownerId",
          "createdAt",
          "requireMfa"
        ]
      },
      "CreateOrgRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateOrgRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "requireMfa": {
            "type": "boolean",
            "description": "Owner only. Enforce MFA for all members."
          }
        }
      },
      "Membership": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/Role"
          },
          "joinedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            },
            "description": "Granted capabilities for a member. Owners hold every permission implicitly."
          }
        },
        "required": [
          "orgId",
          "userId",
          "email",
          "role",
          "joinedAt"
        ]
      },
      "MembershipWithGithub": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Membership"
          },
          {
            "type": "object",
            "properties": {
              "githubLogin": {
                "type": "string"
              },
              "githubAvatarUrl": {
                "type": "string",
                "format": "uri"
              },
              "mfaEnabled": {
                "type": "boolean",
                "description": "Whether the member has a TOTP authenticator enrolled."
              }
            },
            "required": [
              "mfaEnabled"
            ]
          }
        ]
      },
      "SetMemberPermissionsRequest": {
        "type": "object",
        "properties": {
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            },
            "description": "The complete set of capabilities to grant the member (replaces existing)."
          }
        },
        "required": [
          "permissions"
        ]
      },
      "TransferOwnershipRequest": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "The member who should become the new owner."
          }
        },
        "required": [
          "userId"
        ]
      },
      "MemberBinding": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "enum": [
              "github"
            ]
          },
          "connectionId": {
            "type": "string"
          },
          "boundAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          }
        },
        "required": [
          "provider",
          "connectionId",
          "boundAt",
          "updatedAt"
        ]
      },
      "SetMemberBindingRequest": {
        "type": "object",
        "properties": {
          "connectionId": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "connectionId"
        ]
      },
      "Invite": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string"
          },
          "token": {
            "type": "string",
            "example": "invite-token-…"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "$ref": "#/components/schemas/Role"
          },
          "invitedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          }
        },
        "required": [
          "orgId",
          "token",
          "email",
          "role",
          "invitedBy",
          "createdAt",
          "expiresAt"
        ]
      },
      "CreateInviteRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Role"
              },
              {
                "default": "member"
              }
            ]
          }
        },
        "required": [
          "email"
        ]
      },
      "SleepWindow": {
        "type": "object",
        "properties": {
          "days": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "maximum": 6
            },
            "description": "Days the window starts on; 0 = Sunday."
          },
          "start": {
            "type": "string",
            "example": "20:00"
          },
          "end": {
            "type": "string",
            "description": "end <= start wraps past midnight.",
            "example": "08:00"
          }
        },
        "required": [
          "days",
          "start",
          "end"
        ]
      },
      "PartialAutoSleepPolicy": {
        "type": "object",
        "properties": {
          "idleAutoStop": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "timeoutMinutes": {
                "type": "integer",
                "minimum": 5,
                "maximum": 1440
              }
            }
          },
          "sleepSchedule": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "timezone": {
                "type": "string"
              },
              "windows": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SleepWindow"
                }
              }
            }
          }
        },
        "description": "Per-template auto-sleep override (SLO-22); overlays the org policy per-leaf."
      },
      "Template": {
        "type": "object",
        "properties": {
          "templateId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "bundle_building",
              "ready",
              "bundle_failed"
            ]
          },
          "runtimeBundleHash": {
            "type": "string"
          },
          "needsRebake": {
            "type": "boolean",
            "description": "True when a ready template was baked on an older bake recipe than current — its AMI is stale and should be re-baked."
          },
          "autoSleep": {
            "$ref": "#/components/schemas/PartialAutoSleepPolicy"
          },
          "draftState": {
            "type": "object",
            "additionalProperties": {},
            "description": "Present only while status is `draft` — the saved builder state to resume from. Cleared on publish."
          },
          "createdByUserId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          }
        },
        "required": [
          "templateId",
          "name",
          "region",
          "status",
          "runtimeBundleHash",
          "needsRebake",
          "createdByUserId",
          "createdAt",
          "updatedAt"
        ]
      },
      "TemplateServiceInput": {
        "type": "object",
        "properties": {
          "catalogKey": {
            "type": "string",
            "example": "postgres"
          },
          "version": {
            "type": "string",
            "example": "16"
          },
          "config": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "catalogKey",
          "version"
        ]
      },
      "TemplateService": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TemplateServiceInput"
          },
          {
            "type": "object",
            "properties": {
              "serviceId": {
                "type": "string"
              }
            },
            "required": [
              "serviceId"
            ]
          }
        ]
      },
      "TemplateHealthCheck": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "http"
                ]
              },
              "url": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "url"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "tcp"
                ]
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "TemplateEnvVar": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            },
            "required": [
              "key",
              "value"
            ]
          },
          {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "secretRef": {
                "type": "string"
              }
            },
            "required": [
              "key",
              "secretRef"
            ]
          }
        ]
      },
      "TemplateProjectInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "api"
          },
          "gitUrl": {
            "type": "string",
            "example": "git@github.com:acme/checkout-api.git"
          },
          "branch": {
            "type": "string"
          },
          "runtime": {
            "type": "string",
            "example": "node:22"
          },
          "workingDir": {
            "type": "string"
          },
          "setupScript": {
            "type": "string"
          },
          "runCommand": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "autoStart": {
            "type": "boolean"
          },
          "dependsOn": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "healthCheck": {
            "$ref": "#/components/schemas/TemplateHealthCheck"
          },
          "envVars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateEnvVar"
            }
          }
        },
        "required": [
          "name",
          "gitUrl",
          "runtime"
        ]
      },
      "TemplateProject": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TemplateProjectInput"
          },
          {
            "type": "object",
            "properties": {
              "projectId": {
                "type": "string"
              }
            },
            "required": [
              "branch",
              "autoStart",
              "dependsOn",
              "envVars",
              "projectId"
            ]
          }
        ]
      },
      "TemplateWithChildren": {
        "type": "object",
        "properties": {
          "template": {
            "$ref": "#/components/schemas/Template"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateService"
            }
          },
          "projects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateProject"
            }
          }
        },
        "required": [
          "template",
          "services",
          "projects"
        ]
      },
      "TemplateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "checkout-stack"
          },
          "description": {
            "type": "string"
          },
          "region": {
            "type": "string",
            "example": "eu-west-2"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateServiceInput"
            }
          },
          "projects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateProjectInput"
            }
          }
        },
        "required": [
          "name",
          "region",
          "services",
          "projects"
        ]
      },
      "TemplateDraftInput": {
        "type": "object",
        "properties": {
          "draft": {
            "type": "boolean",
            "enum": [
              true
            ],
            "description": "Marks this as a draft save: the contents are stored as-is and not validated until the template is published."
          },
          "name": {
            "type": "string",
            "description": "Optional for drafts — shown as \"Untitled draft\" when absent.",
            "example": "checkout-stack"
          },
          "draftState": {
            "type": "object",
            "additionalProperties": {},
            "description": "Opaque blob of the builder's in-progress state, rehydrated by the web UI when the draft is resumed."
          }
        },
        "required": [
          "draft",
          "draftState"
        ]
      },
      "WriteTemplateBody": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/TemplateInput"
          },
          {
            "$ref": "#/components/schemas/TemplateDraftInput"
          }
        ]
      },
      "TemplateListItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Template"
          },
          {
            "type": "object",
            "properties": {
              "serviceKeys": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Catalog keys of the template's services, one per service (may repeat). Drives the service icons shown on the templates list.",
                "example": [
                  "postgres",
                  "redis"
                ]
              },
              "projectCount": {
                "type": "integer",
                "description": "Number of projects in the template.",
                "example": 2
              }
            },
            "required": [
              "serviceKeys",
              "projectCount"
            ]
          }
        ]
      },
      "EnvironmentMetricsSample": {
        "type": "object",
        "properties": {
          "cpuPct": {
            "type": "number",
            "minimum": 0
          },
          "memUsedBytes": {
            "type": "number",
            "minimum": 0
          },
          "memTotalBytes": {
            "type": "number",
            "minimum": 0
          },
          "diskUsedBytes": {
            "type": "number",
            "minimum": 0
          },
          "diskTotalBytes": {
            "type": "number",
            "minimum": 0
          },
          "load1": {
            "type": "number",
            "minimum": 0
          },
          "netRxBytesPerSec": {
            "type": "number",
            "minimum": 0
          },
          "netTxBytesPerSec": {
            "type": "number",
            "minimum": 0
          }
        },
        "description": "Latest host-metrics snapshot reported on a `health` heartbeat."
      },
      "Environment": {
        "type": "object",
        "properties": {
          "envId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "templateId": {
            "type": "string"
          },
          "awsConnectionId": {
            "type": "string"
          },
          "region": {
            "type": "string",
            "example": "eu-west-2"
          },
          "instanceType": {
            "type": "string",
            "example": "t4g.medium"
          },
          "instanceId": {
            "type": "string",
            "example": "i-0abc123def456"
          },
          "amiId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "provisioning",
              "running",
              "stopping",
              "stopped",
              "terminating",
              "terminated",
              "failed"
            ]
          },
          "statusReason": {
            "type": "string"
          },
          "createdByUserId": {
            "type": "string"
          },
          "mine": {
            "type": "boolean",
            "description": "True when the authenticated caller launched this box. Lifecycle ops (start/stop/terminate/connect) are restricted to the launcher or a member with the environments:delete permission (which owners hold implicitly)."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "lastStartedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the box was last (re)started after a stop.",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "stoppedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "terminatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "lastSeenAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "lastMetrics": {
            "$ref": "#/components/schemas/EnvironmentMetricsSample"
          },
          "lastMetricsAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "hasEgress": {
            "type": "boolean"
          },
          "autoStopReason": {
            "type": "string",
            "enum": [
              "idle",
              "scheduled"
            ],
            "description": "Set when the box was auto-stopped by the auto-sleep policy (SLO-22). Cleared on a manual start."
          },
          "autoStoppedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "projectSetup": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "pending",
                    "cloning",
                    "setup",
                    "ready",
                    "failed"
                  ]
                },
                "message": {
                  "type": "string"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2026-05-22T14:23:00.000Z"
                }
              },
              "required": [
                "name",
                "state",
                "updatedAt"
              ]
            },
            "description": "Per-project clone/setup status reported by the serve agent (SLO-38)."
          }
        },
        "required": [
          "envId",
          "name",
          "templateId",
          "awsConnectionId",
          "region",
          "instanceType",
          "status",
          "createdByUserId",
          "mine",
          "createdAt",
          "updatedAt"
        ]
      },
      "LaunchEnvironmentRequest": {
        "type": "object",
        "properties": {
          "templateId": {
            "type": "string",
            "example": "01HXYZ…"
          },
          "name": {
            "type": "string",
            "example": "checkout-dev"
          },
          "instanceType": {
            "type": "string",
            "example": "t4g.large"
          },
          "region": {
            "type": "string",
            "example": "eu-west-2"
          }
        },
        "required": [
          "templateId"
        ]
      },
      "EnvironmentMetricsPoint": {
        "type": "object",
        "properties": {
          "t": {
            "type": "string",
            "description": "Sample/bucket time (ISO 8601)."
          },
          "cpuPct": {
            "type": "number"
          },
          "memUsedBytes": {
            "type": "number"
          },
          "memTotalBytes": {
            "type": "number"
          },
          "diskUsedBytes": {
            "type": "number"
          },
          "diskTotalBytes": {
            "type": "number"
          },
          "load1": {
            "type": "number"
          },
          "netRxBytesPerSec": {
            "type": "number"
          },
          "netTxBytesPerSec": {
            "type": "number"
          }
        },
        "required": [
          "t"
        ]
      },
      "EnvironmentMetricsResponse": {
        "type": "object",
        "properties": {
          "envId": {
            "type": "string"
          },
          "from": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "to": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "samples": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvironmentMetricsPoint"
            },
            "description": "Server-side downsampled to at most 240 time-bucketed average points."
          },
          "latest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EnvironmentMetricsPoint"
              },
              {
                "type": [
                  "object",
                  "null"
                ],
                "description": "The most recent snapshot from the env row, or null."
              }
            ]
          }
        },
        "required": [
          "envId",
          "from",
          "to",
          "samples",
          "latest"
        ]
      },
      "AutoSleepPolicy": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "idleAutoStop": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "timeoutMinutes": {
                "type": "integer",
                "minimum": 5,
                "maximum": 1440
              }
            },
            "required": [
              "enabled",
              "timeoutMinutes"
            ]
          },
          "sleepSchedule": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "timezone": {
                "type": "string",
                "example": "Europe/London"
              },
              "windows": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SleepWindow"
                }
              }
            },
            "required": [
              "enabled",
              "timezone",
              "windows"
            ]
          }
        },
        "required": [
          "idleAutoStop",
          "sleepSchedule"
        ]
      },
      "AuditEvent": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "action": {
            "type": "string",
            "example": "terminate"
          },
          "orgId": {
            "type": "string"
          },
          "actor": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "user",
                  "apikey",
                  "system",
                  "daemon"
                ]
              },
              "id": {
                "type": "string"
              },
              "label": {
                "type": "string",
                "example": "jack@example.com"
              },
              "userId": {
                "type": "string"
              },
              "apiKeyId": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "id",
              "label"
            ]
          },
          "resource": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "id"
            ]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "eventId",
          "at",
          "action",
          "actor"
        ]
      },
      "AuditLogResponse": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditEvent"
            }
          },
          "cursor": {
            "type": "string"
          }
        },
        "required": [
          "events"
        ]
      },
      "Connection": {
        "type": "object",
        "properties": {
          "connectionId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "active",
              "failed"
            ]
          },
          "awsAccountId": {
            "type": "string"
          },
          "roleArn": {
            "type": "string"
          },
          "failureReason": {
            "type": "string"
          },
          "templateVersion": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "verifiedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "lastVerifiedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          }
        },
        "required": [
          "connectionId",
          "name",
          "status",
          "templateVersion",
          "createdAt"
        ]
      },
      "CreateConnectionRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "region": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          }
        },
        "required": [
          "name"
        ]
      },
      "ConnectionListEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Connection"
          },
          {
            "type": "object",
            "properties": {
              "updateAvailable": {
                "type": "boolean"
              }
            },
            "required": [
              "updateAvailable"
            ]
          }
        ]
      },
      "ConnectionUpdate": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "available": {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            },
            "required": [
              "available"
            ]
          },
          {
            "type": "object",
            "properties": {
              "available": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "currentVersion": {
                "type": "string"
              },
              "yourVersion": {
                "type": "string"
              },
              "templateUrl": {
                "type": "string",
                "format": "uri"
              },
              "quickUpdateUrl": {
                "type": "string",
                "format": "uri",
                "description": "One-click CloudFormation console link to update the stack with the new template. Present when the stack ARN was captured (callback v7+)."
              },
              "consoleInstructions": {
                "type": "string"
              },
              "cliCommand": {
                "type": "string"
              }
            },
            "required": [
              "available",
              "currentVersion",
              "yourVersion",
              "templateUrl",
              "consoleInstructions",
              "cliCommand"
            ]
          }
        ]
      },
      "VerifyConnectionRequest": {
        "type": "object",
        "properties": {
          "roleArn": {
            "type": "string",
            "pattern": "^arn:aws:iam::\\d{12}:role\\/.+$",
            "example": "arn:aws:iam::123456789012:role/slothbox-connection"
          }
        },
        "required": [
          "roleArn"
        ]
      },
      "SecretsBackend": {
        "type": "string",
        "enum": [
          "ssm",
          "secretsmanager"
        ]
      },
      "SecretsConfig": {
        "type": "object",
        "properties": {
          "backend": {
            "$ref": "#/components/schemas/SecretsBackend"
          },
          "connectionId": {
            "type": "string",
            "description": "AWS connection whose account stores this org’s secrets."
          },
          "region": {
            "type": "string",
            "example": "eu-west-2"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          }
        },
        "required": [
          "backend",
          "connectionId",
          "region",
          "updatedAt"
        ]
      },
      "SetSecretsConfigRequest": {
        "type": "object",
        "properties": {
          "backend": {
            "$ref": "#/components/schemas/SecretsBackend"
          },
          "connectionId": {
            "type": "string",
            "minLength": 1
          },
          "region": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40,
            "default": "eu-west-2"
          }
        },
        "required": [
          "backend",
          "connectionId"
        ]
      },
      "OrgRepo": {
        "type": "object",
        "properties": {
          "repoId": {
            "type": "string"
          },
          "repo": {
            "type": "string",
            "example": "github.com/acme/checkout-api"
          },
          "usedBy": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "templateId": {
                  "type": "string"
                },
                "templateName": {
                  "type": "string"
                },
                "projectName": {
                  "type": "string"
                },
                "gitUrl": {
                  "type": "string"
                }
              },
              "required": [
                "templateId",
                "templateName",
                "projectName",
                "gitUrl"
              ]
            }
          }
        },
        "required": [
          "repoId",
          "repo",
          "usedBy"
        ]
      },
      "EnvConfigScope": {
        "type": "string",
        "enum": [
          "org",
          "repo",
          "template",
          "environment"
        ]
      },
      "EnvConfigItem": {
        "type": "object",
        "properties": {
          "scope": {
            "$ref": "#/components/schemas/EnvConfigScope"
          },
          "kind": {
            "type": "string",
            "enum": [
              "secret",
              "variable"
            ]
          },
          "key": {
            "type": "string",
            "example": "DATABASE_URL"
          },
          "repoId": {
            "type": "string"
          },
          "repo": {
            "type": "string",
            "example": "github.com/acme/checkout-api"
          },
          "templateId": {
            "type": "string"
          },
          "environmentId": {
            "type": "string"
          },
          "value": {
            "type": "string",
            "description": "Present only for variables (fetched from the org account). Secret values are never returned."
          },
          "backend": {
            "$ref": "#/components/schemas/SecretsBackend"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "createdBy": {
            "type": "string"
          }
        },
        "required": [
          "scope",
          "kind",
          "key",
          "updatedAt",
          "createdBy"
        ]
      },
      "UpsertEnvConfigRequest": {
        "type": "object",
        "properties": {
          "scope": {
            "$ref": "#/components/schemas/EnvConfigScope"
          },
          "kind": {
            "type": "string",
            "enum": [
              "secret",
              "variable"
            ]
          },
          "value": {
            "type": "string",
            "maxLength": 4096
          },
          "repoId": {
            "type": "string",
            "description": "Required for scope=repo. From GET /organizations/{orgId}/repos."
          },
          "repo": {
            "type": "string",
            "description": "repo scope: normalized git URL, for display."
          },
          "templateId": {
            "type": "string"
          },
          "environmentId": {
            "type": "string"
          }
        },
        "required": [
          "scope",
          "kind",
          "value"
        ]
      },
      "BundleConstituent": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "required": [
          "key",
          "version"
        ]
      },
      "RuntimeBundle": {
        "type": "object",
        "properties": {
          "bundleHash": {
            "type": "string"
          },
          "awsAccountId": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "building",
              "ready",
              "failed"
            ]
          },
          "amiId": {
            "type": "string"
          },
          "failureReason": {
            "type": "string"
          },
          "constituents": {
            "type": "object",
            "properties": {
              "services": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BundleConstituent"
                }
              },
              "runtimes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BundleConstituent"
                }
              }
            },
            "required": [
              "services",
              "runtimes"
            ]
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "builtAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "lastUsedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          }
        },
        "required": [
          "bundleHash",
          "awsAccountId",
          "region",
          "status",
          "constituents",
          "startedAt"
        ]
      },
      "BakeEvent": {
        "type": "object",
        "properties": {
          "ts": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "kind": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "ts",
          "kind"
        ]
      },
      "BillingInterval": {
        "type": "string",
        "enum": [
          "monthly",
          "annual"
        ]
      },
      "BillingSummary": {
        "type": "object",
        "properties": {
          "trial": {
            "type": "object",
            "properties": {
              "active": {
                "type": "boolean"
              },
              "endsAt": {
                "type": "string",
                "format": "date-time",
                "example": "2026-05-22T14:23:00.000Z"
              },
              "daysLeft": {
                "type": "integer"
              }
            },
            "required": [
              "active",
              "daysLeft"
            ]
          },
          "billingRequired": {
            "type": "boolean",
            "description": "True when the trial has ended and no card is on file."
          },
          "hasPaymentMethod": {
            "type": "boolean"
          },
          "card": {
            "type": "object",
            "properties": {
              "brand": {
                "type": "string"
              },
              "last4": {
                "type": "string"
              },
              "expMonth": {
                "type": "integer"
              },
              "expYear": {
                "type": "integer"
              }
            }
          },
          "interval": {
            "$ref": "#/components/schemas/BillingInterval"
          },
          "seatCount": {
            "type": "integer",
            "description": "Total seats = member count (owner included)."
          },
          "includedSeats": {
            "type": "integer",
            "description": "Seats included free by the API plan (0 when the plan is inactive)."
          },
          "billableSeats": {
            "type": "integer",
            "description": "Seats actually billed = max(0, seatCount − includedSeats)."
          },
          "unitPricePence": {
            "type": "integer"
          },
          "totalPence": {
            "type": "integer",
            "description": "Billable seats × unit price, plus the API plan price when active."
          },
          "currency": {
            "type": "string",
            "enum": [
              "gbp"
            ]
          },
          "status": {
            "type": "string",
            "description": "Stripe subscription status, once converted."
          },
          "currentPeriodEnd": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "cancelAtPeriodEnd": {
            "type": "boolean"
          },
          "apiPlan": {
            "type": "object",
            "properties": {
              "active": {
                "type": "boolean"
              },
              "unitPricePence": {
                "type": "integer",
                "description": "API plan price for the current billing interval (monthly or annual)."
              },
              "currentPeriodEnd": {
                "type": "string",
                "format": "date-time",
                "example": "2026-05-22T14:23:00.000Z"
              }
            },
            "required": [
              "active",
              "unitPricePence"
            ],
            "description": "Standalone API plan; its flat price is included in totalPence when active."
          }
        },
        "required": [
          "trial",
          "billingRequired",
          "hasPaymentMethod",
          "interval",
          "seatCount",
          "includedSeats",
          "billableSeats",
          "unitPricePence",
          "totalPence",
          "currency",
          "apiPlan"
        ]
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "endpointId": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ]
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Subscribed event types, or ['*'] for every type."
          },
          "ordered": {
            "type": "boolean",
            "description": "When true, deliveries are strictly ordered per endpoint (FIFO)."
          },
          "disabledReason": {
            "type": "string"
          },
          "disabledAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "consecutiveFailures": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          }
        },
        "required": [
          "endpointId",
          "url",
          "status",
          "eventTypes",
          "ordered",
          "consecutiveFailures",
          "createdAt",
          "updatedAt"
        ]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "deliveryId": {
            "type": "string"
          },
          "webhookId": {
            "type": "string",
            "description": "Stable id, sent as the `webhook-id` header and reused verbatim across retries — use it as your idempotency key."
          },
          "endpointId": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "delivered",
              "failed",
              "exhausted"
            ]
          },
          "attemptCount": {
            "type": "integer"
          },
          "attempts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "attemptNo": {
                  "type": "integer"
                },
                "at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2026-05-22T14:23:00.000Z"
                },
                "httpStatus": {
                  "type": "integer"
                },
                "latencyMs": {
                  "type": "integer"
                },
                "error": {
                  "type": "string"
                }
              },
              "required": [
                "attemptNo",
                "at"
              ]
            }
          },
          "nextRetryAt": {
            "type": "integer"
          },
          "responseSnippet": {
            "type": "string"
          },
          "payload": {
            "type": "string",
            "description": "The exact signed request body."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-22T14:23:00.000Z"
          }
        },
        "required": [
          "deliveryId",
          "webhookId",
          "endpointId",
          "eventType",
          "status",
          "attemptCount",
          "attempts",
          "payload",
          "createdAt",
          "updatedAt"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/hello": {
      "get": {
        "operationId": "getHealth",
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/catalog/services": {
      "get": {
        "operationId": "listCatalogServices",
        "tags": [
          "Catalog"
        ],
        "summary": "List supported services",
        "description": "Catalog of services environment templates can include (postgres, redis, dynamodb-local, mysql). Populates the \"Add service\" picker in the web UI.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Array of catalog services with available versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "services": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "versions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "defaultPort": {
                            "type": "integer"
                          },
                          "label": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "configSchema": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        },
                        "required": [
                          "key",
                          "versions",
                          "defaultPort",
                          "label",
                          "description",
                          "configSchema"
                        ]
                      }
                    }
                  },
                  "required": [
                    "services"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/catalog/runtimes": {
      "get": {
        "operationId": "listCatalogRuntimes",
        "tags": [
          "Catalog"
        ],
        "summary": "List supported language runtimes",
        "description": "Catalog of language runtimes that projects can declare via the `runtime:` field (e.g. `node:22`). Populates the runtime dropdown in the project form.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Array of catalog runtimes with available versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "runtimes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "versions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "label": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "key",
                          "versions",
                          "label",
                          "description"
                        ]
                      }
                    }
                  },
                  "required": [
                    "runtimes"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "getMe",
        "tags": [
          "Me"
        ],
        "summary": "Current user and their organizations",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Caller identity plus the orgs they belong to",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "organizations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrgMembershipSummary"
                      }
                    },
                    "mfaRequired": {
                      "type": "boolean",
                      "description": "True when any of the caller’s orgs enforce MFA."
                    }
                  },
                  "required": [
                    "user",
                    "organizations",
                    "mfaRequired"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/organizations/{orgId}/members/{userId}/git-ssh-key": {
      "post": {
        "operationId": "generateGitSshKey",
        "tags": [
          "SSH keys"
        ],
        "summary": "Generate a per-org Git SSH key for the caller",
        "description": "Generates an ed25519 keypair server-side, stores the private key KMS-encrypted, and pushes the public key to the GitHub account bound for this user in this org. Used by Slothbox dev environments launched inside the org to clone, pull, and push to private repos. Replaces any existing key for this (org, user) -- the previous GitHub-side key is revoked first.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          }
        ],
        "responses": {
          "201": {
            "description": "New key generated and pushed to GitHub",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "object",
                      "properties": {
                        "publicKey": {
                          "type": "string"
                        },
                        "fingerprint": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-05-22T14:23:00.000Z"
                        },
                        "pushedToGithubAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-05-22T14:23:00.000Z"
                        },
                        "githubKeyId": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "publicKey",
                        "fingerprint",
                        "createdAt"
                      ]
                    },
                    "replacedPrevious": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "fingerprint": {
                          "type": "string"
                        },
                        "githubKeyId": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "fingerprint"
                      ]
                    }
                  },
                  "required": [
                    "key",
                    "replacedPrevious"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Only the user can manage their own SSH key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "GitHub not linked for this org, or linked without the write:public_key scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "description": "GitHub rejected the key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getGitSshKey",
        "tags": [
          "SSH keys"
        ],
        "summary": "Get the caller's per-org Git SSH key metadata",
        "description": "Returns the public key + fingerprint for the caller in this org. The private key is never returned via the API; it lives KMS-encrypted in DynamoDB and is only emitted into env bootstrap user-data at launch time.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Key metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "object",
                      "properties": {
                        "publicKey": {
                          "type": "string"
                        },
                        "fingerprint": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-05-22T14:23:00.000Z"
                        },
                        "pushedToGithubAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-05-22T14:23:00.000Z"
                        },
                        "githubKeyId": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "publicKey",
                        "fingerprint",
                        "createdAt"
                      ]
                    }
                  },
                  "required": [
                    "key"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Only the user can read their own SSH key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No Git SSH key generated yet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "revokeGitSshKey",
        "tags": [
          "SSH keys"
        ],
        "summary": "Revoke the caller's per-org Git SSH key",
        "description": "Removes the key from GitHub (best-effort -- using the org's bound GitHub token, if still available) and forgets the encrypted private key.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Removed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Only the user can manage their own SSH key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/me/github": {
      "get": {
        "operationId": "getGithubLink",
        "tags": [
          "GitHub"
        ],
        "summary": "Get the caller’s GitHub link, if any",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Either an unlinked sentinel or the linked account summary.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "linked": {
                          "type": "boolean",
                          "enum": [
                            false
                          ]
                        }
                      },
                      "required": [
                        "linked"
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/GithubLink"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "linked": {
                              "type": "boolean",
                              "enum": [
                                true
                              ]
                            }
                          },
                          "required": [
                            "linked"
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/me/connections": {
      "get": {
        "operationId": "listMyConnections",
        "tags": [
          "Connections"
        ],
        "summary": "List the caller’s linked external accounts",
        "description": "The caller’s connection library across providers. Optionally filter with `?provider=github`. Tokens are never returned.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "github"
              ],
              "description": "Filter to one provider. Unknown values are ignored (no filter)."
            },
            "required": false,
            "name": "provider",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Linked accounts owned by the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connections": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LibraryConnection"
                      }
                    }
                  },
                  "required": [
                    "connections"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/organizations": {
      "post": {
        "operationId": "createOrganization",
        "tags": [
          "Organizations"
        ],
        "summary": "Create an organization",
        "description": "The caller automatically becomes the first owner.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrgRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organization": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  },
                  "required": [
                    "organization"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "operationId": "listOrganizations",
        "tags": [
          "Organizations"
        ],
        "summary": "List your organizations",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Orgs the caller is a member of.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organizations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      }
                    }
                  },
                  "required": [
                    "organizations"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/organizations/{orgId}": {
      "get": {
        "operationId": "getOrganization",
        "tags": [
          "Organizations"
        ],
        "summary": "Get an organization",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organization": {
                      "$ref": "#/components/schemas/Organization"
                    },
                    "awsUpdateAvailable": {
                      "type": "boolean",
                      "description": "True if any of the org’s AWS connections is behind the current customer-template version. Visible to all members so non-owners know an owner needs to update."
                    },
                    "currentConnectionTemplateVersion": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "organization",
                    "awsUpdateAvailable",
                    "currentConnectionTemplateVersion"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not a member, or no such org.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "updateOrganization",
        "tags": [
          "Organizations"
        ],
        "summary": "Update an organization",
        "description": "Owner only.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrgRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organization": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  },
                  "required": [
                    "organization"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Caller is not an owner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "deleteOrganization",
        "tags": [
          "Organizations"
        ],
        "summary": "Delete an organization",
        "description": "Owner only. Removes all members and invites.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Caller is not an owner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/organizations/{orgId}/members": {
      "get": {
        "operationId": "listMembers",
        "tags": [
          "Members"
        ],
        "summary": "List members",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Members of the organization, including GitHub link summaries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MembershipWithGithub"
                      }
                    }
                  },
                  "required": [
                    "members"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/organizations/{orgId}/members/{userId}": {
      "delete": {
        "operationId": "removeMember",
        "tags": [
          "Members"
        ],
        "summary": "Remove a member",
        "description": "Owners can remove anyone; non-owners can only remove themselves. Refuses removal of the last owner.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Removed."
          },
          "400": {
            "description": "Cannot remove the last owner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Member not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "setMemberPermissions",
        "tags": [
          "Members"
        ],
        "summary": "Set a member's permissions",
        "description": "Owner only. Replaces the member’s granted capabilities. The owner’s permissions are implicit and cannot be set.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetMemberPermissionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated membership.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "membership": {
                      "$ref": "#/components/schemas/Membership"
                    }
                  },
                  "required": [
                    "membership"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Target is the owner, or an unknown permission was supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Caller is not an owner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Member not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/organizations/{orgId}/transfer-ownership": {
      "post": {
        "operationId": "transferOwnership",
        "tags": [
          "Organizations"
        ],
        "summary": "Transfer organization ownership",
        "description": "Owner only. Hands ownership to another member; the caller becomes a regular member.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferOwnershipRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Ownership transferred."
          },
          "400": {
            "description": "Target is already the owner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Caller is not an owner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Member not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Ownership changed concurrently; retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/organizations/{orgId}/members/{userId}/connections": {
      "get": {
        "operationId": "listMemberConnections",
        "tags": [
          "Members"
        ],
        "summary": "List a member’s connection bindings in this org",
        "description": "Self or owner. Which library connection the member uses per provider here.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The member’s bindings in this org.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bindings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MemberBinding"
                      }
                    }
                  },
                  "required": [
                    "bindings"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Member not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/organizations/{orgId}/members/{userId}/connections/{provider}": {
      "put": {
        "operationId": "setMemberConnection",
        "tags": [
          "Members"
        ],
        "summary": "Choose which of your connections to use in this org",
        "description": "Connections are personal: only the user themselves can set this (org owners cannot). Points at one of *your own* library connections for this provider in this org. `{userId}` must be the caller.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "github"
              ]
            },
            "required": true,
            "name": "provider",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetMemberBindingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Binding set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberBinding"
                }
              }
            }
          },
          "400": {
            "description": "Connection does not belong to you, or provider mismatch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Only the user can change their own connections.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Member not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "clearMemberConnection",
        "tags": [
          "Members"
        ],
        "summary": "Clear your connection binding for a provider in this org",
        "description": "Connections are personal: only the user themselves can clear this. `{userId}` must be the caller.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "github"
              ]
            },
            "required": true,
            "name": "provider",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Cleared (idempotent)."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Only the user can change their own connections.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/organizations/{orgId}/invites": {
      "post": {
        "operationId": "createInvite",
        "tags": [
          "Invites"
        ],
        "summary": "Invite someone by email",
        "description": "Sends an invite email and returns the invite URL.",
        "security": [
          {
            "apiKey": []
          }
        ],
[...]
